/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body {

}

.container {
    width: 60%;
    margin: auto;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* HEADER */
header {
}

    /* Header-Top */
    #header-top {
        padding: 20px 0;
        background-color: lightblue;
        font-size: 20px;
    }

    #header-top .container {

    }

    #header-top .columns {
        display: flex;
        align-items: center;

        /* TEST */
        border: 1px dotted black;
        background-color: goldenrod;
    }

    #logo,
    nav,
    #login {
        /* TEST */
        border: 2px dashed black;
        height: 50px;
        line-height: 45px;
        padding: 0 15px;
    }

    #header-top #logo {
        width: 20%;
    }

    #header-top nav {
        width: 60%;
        text-align: center;
    }

    #header-top nav ul {
        display: flex;
        justify-content: center;
    }

    #header-top nav ul li {
        padding: 0px 15px;
    }

    #header-top #login {
        width: 20%;
        text-align: right;
    }

    /* Header-Bottom */
    #header-bottom {
        background-color: #00008b;
        display: flex;
        justify-content: center;
        align-items: center;
        
        /* TEST */
        height: 500px;
    }
    .jumbotron-text {
        width: 45%;
        
        /* TEST */
        background-color: #ee82ee;
        border: 2px dashed black;
        height: 400px;
        
    }



/* MAIN */


/* FOOTER */