/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 65%;
    margin: auto;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* HEADER */
header {
}

    /* Header-Top */
    #header-top {
        padding: 20px 0;
        background-color: lightblue;
    }

    #header-top .columns {
        display: flex;
        align-items: center;

        /* TEST */
        background-color: goldenrod;
    }

    .logo,
    nav,
    #login {
        /* TEST */
        border: 2px dashed black;
        padding: 10px;    
    }

    #header-top .logo {
        width: 20%;
    }

    #header-top nav {
        width: 60%;
        text-align: center;
    }

    #header-top nav ul {
        display: flex;
        justify-content: center;
    }

    #header-top nav ul li {
        padding: 0px 5px;
    }

    #header-top #login {
        width: 20%;
        text-align: right;
    }

    /* Header-Bottom */
    #header-bottom {
        background-color: #00008b;
        display: flex;
        justify-content: center;
        align-items: center;
        
        /* TEST */
        height: 500px;
    }
    .jumbotron-text {
        width: 45%;
        
        /* TEST */
        background-color: #ee82ee;
        border: 2px dashed black;
        height: 400px;
        
    }

/* MAIN */
    /* Main > Sections: COMMON */
    main section .container {
        padding: 50px 0;
        /* height: 600px; */
    }

    main section .columns {
        display: flex;
        justify-content: center;
        align-items: center;
        /* height: 100%; */
    }

    /* Section-First */
    #section-first .columns .col-left {
        width: 60%;

        /* TEST */
        background-color: #1e90ff;
        height: 500px;
        border: 2px dashed black;
    }

    #section-first .columns .col-right {
        width: 40%;
        
        /* TEST */
        background-color: #ffc0cb;
        height: 500px;
        border: 2px dashed black;
    }

    /* Section-Second */
    #section-second {
        background-color: #d3d3d3;
    }

    #section-second .columns .col-left {
        width: 40%;
        
        /* TEST */
        background-color: #ffc0cb;
        height: 500px;
        border: 2px dashed black;
    }
    
    #section-second .columns .col-right {
        width: 60%;
    
        /* TEST */
        background-color: #1e90ff;
        height: 500px;
        border: 2px dashed black;
    }

    /* Section-Third */
    #section-third .columns .col-left {
        width: 60%;

        /* TEST */
        background-color: #1e90ff;
        height: 500px;
        border: 2px dashed black;
    }

    #section-third .columns .col-right {
        width: 40%;
        
        /* TEST */
        background-color: #ffc0cb;
        height: 500px;
        border: 2px dashed black;
    }

    /* Section-Fourth */
    #section-fourth {
        background-color: #d3d3d3;
        /* height: 1000px; */
    }

    #section-fourth .container {
        background-color: #d3d3d3;
        height: 1000px;
    }

    #section-fourth .columns .col {
        width: 100%;
        
        /* TEST */
        background-color: #228b22;
        height: 900px;
        border: 2px dashed black;
    }
     
/* FOOTER */
#footer-top .columns {
    display: flex;
}

    /* Footer-Top */
    #footer-top {
        padding: 15px 0 60px 0;
        background-color: #23272a;
        border-bottom: 2px solid white;
    }

    #footer-top .columns .col-left {
        width: 30%;

        /* TEST */
        background-color: #f08080;
        height: 570px;
        border: 2px dashed black;
    }

    #footer-top .columns .col-right {
        width: 70%;
        display: flex;

        /* TEST */
        background-color: #20b2aa;
        height: 570px;
    }

    #footer-top .columns .col-right .col {
        width: calc(100% / 4);

        /* TEST */
        border: 2px dashed white;
    }
    
    /* Footer-Bottom */
    #footer-bottom {
        background-color: #23272a;
        padding-top: 30px;
    }

    #footer-bottom .columns {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
        background-color: #7fffd4;
    }
    
    .logo-footer,
    .button-footer {
        /* TEST */
        border: 2px dashed black;
        padding: 4px 10px;
        background-color: #ffb6c1;
    }
    
